/* @import url(./themes.css); */
#sidebar {
    width: var(--sidebar-width);
    position: fixed;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.1);
    z-index: 99;
    transition: left 0.5s;
    overflow: auto;
}

#sidebar .diskused {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 50px 0 20px;
}

#sidebar .logo {
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.sidebarMenu {
    list-style-type: none;
    padding: 0 50px 0 0;
    margin: 0;
}

.masterMenu+.submenu {
    display: none;
    list-style-type: none;
    margin-bottom: 15px;
}

.masterMenu+.submenu li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E4EBF2;
    color: #000;
    font-weight: 600;
}
.masterMenu+.submenu li a:hover{
    color: var(--color-primary-dark);
}
.masterMenu+.submenu li a.active{
    color: var(--color-primary);
    border-bottom: 1px solid #000;
    pointer-events:none;
}
a.masterMenu.active+ul.submenu {
    display: block;
    
}

.sidebarMenu>li>a {
    height: 50px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    color: var(--body-color);
    width: calc(100% - 16px);
    border-radius: 0 30px 30px 0;
    width: 100%;
    transition: color 0.3s;
}

.sidebarMenu>li>a:hover {
    color: var(--color-primary-dark);
}

.sidebarMenu>li>a:hover::before {
    background-color: var(--color-primary-third);
}

.sidebarMenu>li>a::before {
    content: '';
    border-radius: 20px;
    width: 22px;
    height: 12px;
    margin-right: 10px;
    background-color: var(--body-bg);
    transition: background-color 0.3s;
}

.sidebarMenu>li>a.active {
    background-color: var(--body-bg);
    pointer-events: none;
}

.sidebarMenu>li>a.active::before {
    background-color: var(--color-primary);
}

.forCloseSidebar {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 3rem;
    height: 3rem;
}

.forCloseSidebar .material-symbols-outlined {
    font-size: 2.2rem;
    color: var(--color-primary-sec)
}

.forCloseSidebar .material-symbols-outlined::after {
    content: '\e5cd';
}

#sidebar:has(.forCloseSidebar input:checked) {
    left: calc(calc(var(--sidebar-position) - var(--sidebar-position-close)) * -1)
        /* left: -170px;
    --sidebar-position:30px */
}

#sidebar:has(.forCloseSidebar input:checked) .material-symbols-outlined.CloseSidebarIcon::after {
    content: '\e5d2';
}

body:has(#sidebar .forCloseSidebar input:checked) .main {
    --sidebar-position: 30px
}

#mask {
    display: none;
}

@media (max-width:767px) {
    /* #sidebar {
        transition: none
    } */

    #sidebar:has(.forCloseSidebar input:not(:checked)) {
        left: calc(var(--sidebar-position) * -1);
        /* z-index: 19; */
    }

    .forCloseSidebar {
        position: fixed;
        right: calc(100% - 4rem);
        top: 15px;
        width: 3rem;
        height: 3rem;
    }

    #sidebar:has(.forCloseSidebar input:checked) {
        left: 0
    }

    #sidebar:has(.forCloseSidebar input:checked)+#mask {
        display: block;
    }

    .sidebarMenu>li>a {
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #sidebar .logo {
        padding-top: 25px;
        padding-bottom: 5px;
        width: 35%;
    }
    #sidebar .material-symbols-outlined.CloseSidebarIcon::after {
        content:'\e5d2 '  
    }
    
    #sidebar:has(.forCloseSidebar input:checked) .material-symbols-outlined.CloseSidebarIcon::after {
        content: '\e5cd';
    }

    #mask {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 22;
    }

}